@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
  outline: 1px solid red;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}


/* SOln */

a {
  text-decoration: none;
  color: rgb(112, 112, 112);
}
ul {
  list-style-type: none;
}

ul{
  display: flex;
  gap: 16px;
  padding: 0;
  margin: 0;
}
body{
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* height: 100%; */
}

.header ,.footer{
  display: flex;
  justify-content: space-between;
  padding: 16px;
}
.content{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  flex: 1;
}
button{
  padding: 10px;
}
