* {
  outline: auto;
}
.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  /* padding: 20px; */
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
  justify-items: center;
  justify-content:center ;
  align-items: center;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}

.left-links{
  /* flex: 1 1 auto; */
  display: flex;
}
.left-links ul , .right-links ul {
  display: flex;
  flex: auto;
  justify-content: center;
  align-items: center;
  

}
li {
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;

}
a {
  flex: auto;
  justify-content: center;
}
.right-links{
  /* flex: 1 1 auto; */
  display: flex;
}
